/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
    max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* typography */

html {
	background: var(--background-color);
	font-size: 62.5%;
}

body {
	color: var(--dark-87);
    font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	line-height: 1;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--dark-100);
	font-weight: 500;
}

h1 {
	font-size: 6rem;
	line-height: 7.2rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.4rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 3.8rem;
}

h4 {
	font-size: 2.2rem;
	line-height: 3.2rem;
}

p {
	font-size: 1.6rem;
	line-height: 2.2rem;
}

a, header h2, .icon {
	transition: var(--transition-color);
}

/* grid */

.container {
    display: grid;
}

/* header */

header {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	height: 12rem;
	padding: 0 4rem;
}

header h2 {
	font-weight: 400;
}

header h2:hover, .icon:hover {
	color: var(--dark-38);
}

.icon {
	color: var(--dark-100);
	display: block;
	font-size: 2.4rem;
	height: 2.4rem;
	padding: 1.2rem;
	width: 2.4rem;
}

.icon-menu {
	display: none;
	z-index: 2;
}

.icon-vsco {
	fill: var(--dark-100);
	height: 2.2rem;
	transition: var(--transition-fill);
	width: 2.2rem;
}

.icon-vsco:hover {
	fill: var(--dark-38);
}

.name {
	margin-right: auto;
}

/* footer */

footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1.6rem;
	height: 12rem;
	justify-content: flex-end;
}

footer .icon {
	color: var(--black-24);
}

footer .icon-vsco {
	fill: var(--black-24);
}

footer .icon:last-child {
	margin-right: 4rem;
}

/* buttons */

.button {
	background: var(--light-100);
	border-radius: 0.4rem;
	color: var(--dark-100);
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	height: 4rem;
	line-height: 4rem;
	padding: 0 2rem;
}

.button:hover {
	color: var(--dark-60);
}

.button-round {
	border-radius: 3rem;
}

.button-large {
	font-size: 1.6rem;
	height: 6rem;
	line-height: 6rem;
	padding: 0 3rem;
}

/* static */

.button-white {
	background: var(--white-100);
	color: var(--black-100);
}

.button-white:hover {
	color: var(--black-60);
}

.button-black {
	background: var(--black-100);
	color: var(--white-100);
}

.button-black:hover {
	color: var(--white-60);
}

/* dynamic */



.button-dark {
	background: var(--dark-100);
	color: var(--light-100);
}

.button-dark:hover {
	color: var(--light-60);
}

/* sections */

section {
	align-items: flex-start;
	display: flex;
}

.wrap {
	padding: 0 4rem;
	width: calc(100% - 8rem);
}

.wrap-large {
	padding: 0 8rem;
	width: calc(100% - 16rem);
}

/* hero */

.hero {
	background-image: url('resources/background.jpg');
	background-size: cover;
	flex-direction: column;
	gap: 4rem;
	height: calc(100vh - 12rem);
	justify-content: center;
	margin-left: auto;
	width: 60vw;
}

.hero h1 {
	color: var(--white-100);
}

/* left */

.left {
	flex-direction: column;
	gap: 4rem;
	padding: 16rem 4rem;
}

.left h1, .left h4 {
	max-width: 60vw;
}

/* center */

.center {
	align-items: center;
	flex-direction: column;
	gap: 4rem;
	padding: 16rem 8rem;
}

/* dark */

.dark {
	background-color: var(--black-100);
}

.dark h1, .dark h4 {
	color: var(--white-100);
}

/* gallery */

.gallery {
	display: grid;
	gap: 0;
	grid-template-columns: 1fr 1fr;
}

.gallery img {
	object-fit: cover;
	width: 100%;
}

.gallery-column {
	gap: 0;
}


/* menu */

nav {
	align-items: center;
	background: var(--background-color);
	display: none;
	flex-direction: row;
	height: 12rem;
	gap: 1.6rem;
	padding: 0 4rem;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, 0);
	transition: var(--transition-transform);
	width: calc(100vw - 8rem);
	z-index: 1;
}

nav.open {
	transform: translate(0);
}

/* responsive */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {
	nav {
		display: flex;
	}

	.hero {
		width: calc(100vw - 8rem);
	}

	.icon-menu {
		display: block;
	}

	.wrap-large {
		padding: 0 4rem;
	}

	.center {
		padding: 16rem 4rem;
	}

	header .icon-social {
		display: none;
	}
}

/* colours */

:root {
	--background-color: #fff;

	/* static */
	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--black-24: rgba(0, 0, 0, 0.24);

	--white-100: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-38: rgba(255, 255, 255, 0.38);
	--white-24: rgba(255, 255, 255, 0.24);

	/* dynamic */
	--dark-100: #000;
	--dark-87: rgba(0, 0, 0, 0.87);
	--dark-60: rgba(0, 0, 0, 0.6);
	--dark-38: rgba(0, 0, 0, 0.38);
	--dark-24: rgba(0, 0, 0, 0.24);

	--light-100: #fff;
	--light-87: rgba(255, 255, 255, 0.87);
	--light-60: rgba(255, 255, 255, 0.6);
	--light-38: rgba(255, 255, 255, 0.38);
	--light-24: rgba(255, 255, 255, 0.24);

	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-opacity: opacity 0.3s ease;
	--transition-transform: transform 0.5s ease;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;

		--dark-100: #fff;
		--dark-87: rgba(255, 255, 255, 0.87);
		--dark-60: rgba(255, 255, 255, 0.6);
		--dark-38: rgba(255, 255, 255, 0.38);
		--dark-24: rgba(255, 255, 255, 0.24);

		--light-100: #000;
		--light-87: rgba(0, 0, 0, 0.87);
		--light-60: rgba(0, 0, 0, 0.6);
		--light-38: rgba(0, 0, 0, 0.38);
		--light-24: rgba(0, 0, 0, 0.24);
	}
}
