/* fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
    max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* typography */

html {
	background: var(--background-color);
	font-size: 62.5%;
}

body {
	color: var(--black-87);
    font-family: 'DM Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1;
	overflow: hidden;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--black-100);
}

h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

a, header h2, .icon {
	transition: var(--transition-color);
}

/* grid */

.container {
    display: grid;
}

/* header */

header {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	height: 12rem;
	padding: 0 4rem;
}

header h2:hover, .icon:hover {
	color: var(--black-38);
}

.icon {
	color: var(--black-100);
	display: block;
	font-size: 2.4rem;
	height: 2.4rem;
	padding: 1.2rem;
	width: 2.4rem;
}

.icon-menu {
	display: none;
	z-index: 2;
}

.icon-vsco {
	fill: var(--black-100);
	height: 2.2rem;
	transition: var(--transition-fill);
	width: 2.2rem;
}

.icon-vsco:hover {
	fill: var(--black-38);
}

.name {
	margin-right: auto;
}

/* buttons */

.button {
	background: var(--black-100);
	border-radius: 0.4rem;
	color: var(--white-100);
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	height: 4rem;
	line-height: 4rem;
	padding: 0 2rem;
}

.button:hover {
	color: var(--white-87);
}

/* hero */

.hero {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.hero h1 {
	display: block;
}

.test {
	align-items: flex-start;
	justify-content: center;
	background: #eee;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 12rem);
	gap: 2rem;
	padding: 0 4rem;
}

/* menu */

nav {
	background: var(--background-color);
	display: flex;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, 0);
	transition: var(--transition-transform);
	width: 80vw;
	z-index: 1;
}

nav.open {
	transform: translate(0);
}

/* responsive */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {
	.hero {
		grid-template-columns: 0fr 1fr;
	}

	.icon-menu {
		display: inherit;
	}

	header .icon-social {
		display: none;
	}

	nav {
		display: block;
	}
}

/* colours */

:root {
	--background-color: #fff;
	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--white-100: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-38: rgba(255, 255, 255, 0.38);
	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-transform: transform 0.5s ease;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;
		--black-100: #fff;
		--black-87: rgba(255, 255, 255, 0.87);
		--black-60: rgba(255, 255, 255, 0.6);
		--black-38: rgba(255, 255, 255, 0.38);
	}

	.test {
		background: #292929;
	}
}
