/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	overflow-x: hidden;
	position: relative;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
    max-width: 100%;
	object-fit: cover;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* typography */

html {
	background: var(--background-color);
	cursor: default;
	font-size: 62.5%;
}

body {
	color: var(--dark-87);
    font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	line-height: 2.8rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--dark-87);
	text-decoration: none;
}

a, .icon {
	transition: var(--transition-color);
}

a:hover, .icon:hover {
	color: var(--dark-38);
}

h1, h2, h3, h4, h5, h6, .heading {
	color: var(--dark-100);
	font-weight: 500;
}

h1 {
	font-size: 6rem;
	line-height: 8rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.8rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 4.2rem;
}

h4 {
	font-size: 2.2rem;
	line-height: 3.6rem;
}

h5 {
	font-size: 1.6rem;
	line-height: 2.8rem;
}

/* icons */

.icon {
	color: var(--dark-100);
	display: block;
	font-size: 2.4rem;
	height: 2.4rem;
	padding: 1.2rem;
	width: 2.4rem;
}

.icon-menu {
	display: none;
	z-index: 2;
}

.icon-vsco {
	fill: var(--dark-100);
	height: 2.2rem;
	transition: var(--transition-fill);
	width: 2.2rem;
}

.icon-vsco:hover {
	fill: var(--dark-38);
}

/* grid */

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* header */

header {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	height: var(--header-height);
}

header h2 {
	font-weight: 400;
}

.name {
	margin-right: auto;
}

/* menu */

nav {
	align-items: center;
	background: var(--background-color);
	display: none;
	flex-direction: row;
	height: var(--header-height);
	gap: 1.6rem;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, 0);
	transition: var(--transition-transform);
	z-index: 1;
}

nav.open {
	transform: translate(0);
}

/* footer */

footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1.6rem;
	height: var(--header-height);
	justify-content: center;
}

footer .icon {
	color: var(--dark-24);
}

footer .icon-vsco {
	fill: var(--dark-24);
}

footer .name {
	color: var(--dark-24);
}

/* buttons */

.button {
	background: var(--light-100);
	border-radius: 0.4rem;
	color: var(--dark-100);
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	height: 4rem;
	line-height: 4rem;
	padding: 0 2rem;
}

.button:hover {
	color: var(--dark-60);
}

.button[data-shape='round'] {
	border-radius: 3rem;
}

.button[data-size='large'] {
	font-size: 1.6rem;
	height: 6rem;
	line-height: 6rem;
	padding: 0 3rem;
}

/* static */

.button[data-color='white'] {
	background: var(--white-100);
	color: var(--black-100);
}

.button[data-color='white']:hover {
	color: var(--black-38);
}

.button[data-color='black'] {
	background: var(--black-100);
	color: var(--white-100);
}

.button[data-color='black']:hover {
	color: var(--white-38);
}

/* dynamic */

.button[data-color='dark'] {
	background: var(--dark-100);
	color: var(--light-100);
}

.button[data-color='dark']:hover {
	color: var(--light-38);
}

/* sections */

section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: var(--section-padding);
	width: var(--wrap-width);
}

section[data-size='large'] {
	padding: var(--section-padding-large);
	width: var(--wrap-width-large);
}

.wrap {
	padding: var(--wrap-padding);
	width: var(--wrap-width);
}

.wrap-large {
	padding: var(--wrap-padding-large);
	width: var(--wrap-width-large);
}

/* section backgrounds */

[data-background='clay'] {
	background: #c1a3a3;
}

[data-background='yellow'] {
	background: #ebd8b7;
}

[data-background='mint'] {
	background: #c9dfd6;
}

[data-background='purple'] {
	background: #c9cbff;
}

[data-background='gray'] {
	background: #eee;
}

[data-background='black'] {
	background-color: var(--black-100);
	color: var(--white-87);
}

[data-background='black'] .heading {
	color: var(--white-100);
}

/* hero */

section.hero {
	align-items: flex-start;
	background-image: url('resources/background.jpg');
	background-size: cover;
	flex-direction: column;
	gap: 4rem;
	height: calc(100vh - 34rem);
	justify-content: center;
	margin-left: auto;
	min-height: 56rem;
	width: 60vw;
}

section.hero .heading {
	color: var(--white-100);
}

.profile {
	background-image: url('resources/profile.png');
	background-size: cover;
	border-radius: 12rem;
	display: block;
	height: 24rem;
	width: 24rem;
}

/* section position */

.center {
	align-items: center;
	flex-direction: column;
	gap: 4rem;
	padding: var(--section-padding);
}

[data-offset] {
	width: 60vw;
}

[data-offset="right"] {
	margin-left: auto;
}

/* bops */

.bops {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}

.bops i {
	font-size: 2.4rem;
}

/* gallery */

.gallery {
	gap: var(--gap-width);
	margin: 0 auto;
	max-width: 168rem;
}

.gallery img {
	width: 100%;
}

.gallery .column {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-width);
}

/* root variables */

:root {
	--background-color: #fff;

	/* static */
	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--black-24: rgba(0, 0, 0, 0.24);

	--white-100: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-38: rgba(255, 255, 255, 0.38);
	--white-24: rgba(255, 255, 255, 0.24);

	/* dynamic */
	--dark-100: #000;
	--dark-87: rgba(0, 0, 0, 0.87);
	--dark-60: rgba(0, 0, 0, 0.6);
	--dark-38: rgba(0, 0, 0, 0.38);
	--dark-24: rgba(0, 0, 0, 0.24);

	--light-100: #fff;
	--light-87: rgba(255, 255, 255, 0.87);
	--light-60: rgba(255, 255, 255, 0.6);
	--light-38: rgba(255, 255, 255, 0.38);
	--light-24: rgba(255, 255, 255, 0.24);

	/* transitions */
	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-transform: transform 0.5s ease;

	/* sizes */

	/* padding */
	--gap-width: 4rem;
	--header-height: 12rem;
	--section-padding: 12rem 4rem;
	--section-padding-large: 12rem 8rem;
	--wrap-padding: 0 4rem;
	--wrap-padding-large: 0 8rem;
	--wrap-width: calc(100% - 8rem);
	--wrap-width-large: calc(100% - 16rem);
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;

		--dark-100: #fff;
		--dark-87: rgba(255, 255, 255, 0.87);
		--dark-60: rgba(255, 255, 255, 0.6);
		--dark-38: rgba(255, 255, 255, 0.38);
		--dark-24: rgba(255, 255, 255, 0.24);

		--light-100: #000;
		--light-87: rgba(0, 0, 0, 0.87);
		--light-60: rgba(0, 0, 0, 0.6);
		--light-38: rgba(0, 0, 0, 0.38);
		--light-24: rgba(0, 0, 0, 0.24);
	}

	[data-background], [data-background] a {
		color: var(--light-87);
	}

	[data-background] a:hover {
		color: var(--light-38);
	}

	[data-background] .heading {
		color: var(--light-100);
	}

	[data-background='black'], [data-background='gray'] {
		color: var(--white-87);
	}

	[data-background='black'] .heading, [data-background='gray'] .heading {
		color: var(--white-100);
	}

	[data-background='gray'] {
		background: #212121;
	}

}

/* responsive */

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {
	section.hero {
		width: var(--wrap-width-large);
	}
}

@media only screen and (max-width: 768px) {
	:root {
		--header-height: 10rem;
		--section-padding: 8rem 2.4rem;
		--section-padding-large: 8rem 2.4rem;
		--gap-width: 2.4rem;
		--wrap-padding: 0 2.4rem;
		--wrap-padding-large: 0 2.4rem;
		--wrap-width: calc(100% - 4.8rem);
		--wrap-width-large: calc(100% - 4.8rem);
	}

	header .icon-social {
		display: none;
	}

	header .icon-menu {
		display: block;
	}

	footer h5 {
		display: none;
	}

	nav {
		display: flex;
	}

	h1 {
		font-size: 4.8rem;
		line-height: 6.2rem;
	}

	section.hero {
		height: auto;
		min-height: auto;
	}

	section[data-offset] {
		width: var(--wrap-width);
	}

	.profile {
		height: 16rem;
		width: 16rem;
	}
}
