/* todo

1. fix button link styling in dark mode
2. merge button theming into section theming
3. fix responsive data-gap conflict

*/

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	overflow-x: hidden;
	position: relative;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
    max-width: 100%;
	object-fit: cover;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* typography */

html {
	background: var(--background-color);
	cursor: default;
	font-size: 62.5%;
}

body {
	color: var(--dark-87);
	font-display: swap;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.6rem;
	line-height: 2.8rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--dark-87);
	text-decoration: none;
}

a, .icon {
	transition: var(--transition-color);
}

a:hover, .icon:hover {
	color: var(--dark-38);
}

h1, h2, h3, h4, h5, h6, .heading {
	color: var(--dark-100);
	font-weight: 500;
}

h1 {
	font-size: 6rem;
	line-height: 8rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.8rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 4.2rem;
}

h4 {
	font-size: 2.2rem;
	line-height: 3.6rem;
}

h5 {
	font-size: 1.6rem;
	line-height: 2.8rem;
}

.light-text {
	color: var(--black-38);
}

/* icons */

.icon {
	align-items: center;
	color: var(--dark-100);
	display: flex;
	font-size: 2.4rem;
	height: 4.8rem;
	justify-content: center;
	line-height: 4.8rem;
	padding: 1.2rem;
	width: 4.8rem;
}

.icon-menu {
	display: none;
	z-index: 2;
}

.icon-vsco {
	fill: var(--dark-100);
	transition: var(--transition-fill);
}

.icon-vsco:hover {
	fill: var(--dark-38);
}

/* grid */

.grid {
	display: grid;
	gap: var(--gap-width);
	width: 100%;
}

.column {
	flex-direction: column;
}

.column, .row {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-width);
}


[data-columns='2'] {
	grid-template-columns: repeat(2, 1fr);
}

[data-columns='1-2'] {
	grid-template-columns: 1fr 2fr;
}

[data-columns='2-1'] {
	grid-template-columns: 2fr 1fr;
}

[data-columns='3'] {
	grid-template-columns: repeat(3, 1fr);
}

[data-columns='4'] {
	grid-template-columns: repeat(4, 1fr);
}

[data-gap='no-gap'] {
	gap: 0;
}

/* header */

header {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	height: var(--header-height);
}

.name {
	margin-right: auto;
}

/* social */

.social-icons {
	display: flex;
	gap: 1.6rem;
}

/* menu */

nav {
	align-items: center;
	background: var(--background-color);
	display: none;
	flex-direction: row;
	height: var(--header-height);
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, 0);
	transition: var(--transition-transform);
	width: 100%;
	z-index: 1;
}

nav.active {
	transform: translate(0);
}

/* footer */

footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1.6rem;
	height: var(--header-height);
	justify-content: center;
}

footer .icon, footer .name {
	color: var(--dark-24);
}

footer .icon-vsco {
	fill: var(--dark-24);
}

/* sections */

section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: var(--section-padding);
	width: 100%;
}

/* section size */

section[data-size='large'] {
	padding: var(--section-padding-large);
}

/* section position */

[data-position='center'], section[data-position='center'] .column {
	align-items: center;
	text-align: center;
}

[data-position='right'], section[data-position='right'] .column {
	align-items: flex-end;
	text-align: right;
}

/* section offset */

[data-offset] {
	width: 60vw;
}

[data-offset="right"] {
	margin-left: auto;
}

/* wrap */

.wrap {
	padding: var(--wrap-padding);
	width: 100%;
}

.wrap-large {
	padding: var(--wrap-padding-large);
}

/* background */

.background {
	background: url('./assets/background.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

/* buttons */

.button {
	align-items: center;
	background: var(--dark-100);
	color: var(--light-87);
	cursor: pointer;
	display: inline-flex;
	font-size: 1.4rem;
	font-weight: 500;
	gap: 1.6rem;
	height: 4rem;
	justify-content: center;
	line-height: 4rem;
	padding: 0 2rem;
	transition: var(--transition-opacity);
}

.button:hover {
	color: inherit;
	opacity: 0.8;
}

.button[data-shape='round'] {
	border-radius: 3rem;
}

.button[data-shape='rounded'] {
	border-radius: 0.4rem;
}

.button[data-size='large'] {
	font-size: 1.6rem;
	gap: 2.4rem;
	height: 6rem;
	line-height: 6rem;
	padding: 0 3rem;
}

/* button icons */

.button .icon {
	color: var(--light-87);
}

.button[data-size='small'] .icon {
	font-size: 1.6rem;
	height: 4rem;
	margin: 0 -1.6rem;
	width: 4rem;
}

.button[data-size='large'] .icon {
	margin: 0 -2rem;
}

/* button theming */

.button[data-background] {
	color: var(--black-87);
}

.button[data-background] .icon {
	color: var(--black-38);
}

/* static buttons */

.button[data-background='white'] {
	background: var(--white-100);
	color: var(--black-87);
}

.button[data-background='black'] {
	background: var(--black-100);
	color: var(--white-87);
}

.button[data-background='black'] .icon {
	color: var(--white-38);
}

/* dynamic buttons */

.button[data-background='light'] {
	background: var(--light-100);
	color: var(--dark-87);
}

.button[data-background='light'] .icon {
	color: var(--dark-38);
}

.button[data-background='dark'] {
	background: var(--dark-100);
	color: var(--light-87);
}

.button[data-background='dark'] .icon {
	color: var(--light-38);
}

/* button and section backgrounds */

section[data-background] a {
	color: var(--black-87);
}

section[data-background] a:hover {
	color: var(--black-38);
}

[data-background] .heading {
	color: var(--black-100);
}

[data-background='brown'] {
	background: #38383b;
}

[data-background='clay'] {
	background: #c1a3a3;
}

[data-background='tan'] {
	background: #a8a6a1;
}

[data-background='yellow'] {
	background: #ebd8b7;
}

[data-background='mint'] {
	background: #c9dfd6;
}

[data-background='purple'] {
	background: #c9cbff;
}

/* static white button styling with coloured backgrounds */

/*

[data-background='clay'] .button[data-background='white'], [data-background='clay'] .button[data-background='white']:hover {
	color: #c1a3a3;
}

*/

/* introduction */

.introduction {
	align-items: center;
	display: grid;
	gap: 4rem;
	grid-template-columns: 2fr 1fr;
}

.introduction .column:first-child {
	order: 1;
}

.introduction .column:last-child {
	justify-self: end;
	order: 2;
}

.profile {
	aspect-ratio: 1;
	background-image: url('./assets/profile.jpg');
	background-size: cover;
	border-radius: 12rem;
	display: block;
	height: 24rem;
	width: 24rem;
}

/* array of strings */

.array {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}

/* projects */

.project {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* gallery */

.gallery {
	display: block;
	column-count: 3;
	gap: var(--gap-width);
	padding-bottom: calc(8rem - var(--gap-width));
}

.gallery img {
	display: inline-block;
	margin-bottom: var(--gap-width);
	width: 100%;
}

/* root variables */

:root {
	--background-color: #fff;

	/* static */
	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--black-24: rgba(0, 0, 0, 0.24);

	--white-100: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-38: rgba(255, 255, 255, 0.38);
	--white-24: rgba(255, 255, 255, 0.24);

	/* dynamic */
	--dark-100: #000;
	--dark-87: rgba(0, 0, 0, 0.87);
	--dark-60: rgba(0, 0, 0, 0.6);
	--dark-38: rgba(0, 0, 0, 0.38);
	--dark-24: rgba(0, 0, 0, 0.24);

	--light-100: #fff;
	--light-87: rgba(255, 255, 255, 0.87);
	--light-60: rgba(255, 255, 255, 0.6);
	--light-38: rgba(255, 255, 255, 0.38);
	--light-24: rgba(255, 255, 255, 0.24);

	/* transitions */
	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-opacity: opacity 0.2s ease;
	--transition-transform: transform 0.5s ease;

	/* padding */
	--gap-width: 4rem;
	--header-height: 12rem;
	--section-padding: 8rem 4rem;
	--section-padding-large: 8rem 8rem;
	--wrap-padding: 0 4rem;
	--wrap-padding-large: 0 8rem;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;

		--dark-100: #fff;
		--dark-87: rgba(255, 255, 255, 0.87);
		--dark-60: rgba(255, 255, 255, 0.6);
		--dark-38: rgba(255, 255, 255, 0.38);
		--dark-24: rgba(255, 255, 255, 0.24);

		--light-100: #000;
		--light-87: rgba(0, 0, 0, 0.87);
		--light-60: rgba(0, 0, 0, 0.6);
		--light-38: rgba(0, 0, 0, 0.38);
		--light-24: rgba(0, 0, 0, 0.24);
	}
}

/* responsive */

@media only screen and (max-width: 768px) {
	:root {
		--header-height: 10rem;
		--section-padding: 4.8rem 2.4rem;
		--section-padding-large: 4.8rem 2.4rem;
		--gap-width: 2.4rem;
		--wrap-padding: 0 2.4rem;
		--wrap-padding-large: 0 2.4rem;
	}

	header .social-icons, footer h5 {
		display: none;
	}

	header .icon-menu, nav {
		display: flex;
	}

	.background {
		height: 50vh;
	}

	.gallery {
		column-count: 2;
	}

	.grid {
		grid-template-columns: 1fr;
	}
	
	.profile {
		height: 16rem;
		width: 16rem;
	}

	[data-offset] {
		width: 100%;
	}
}

@media only screen and (max-width: 560px) {
	.introduction {
		align-items: flex-start;
		display: flex;
	}

	.introduction .column:first-child {
		order: 2;
	}
	
	.introduction .column:last-child {
		order: 1;
	}
}