section[data-background] h1,
section[data-background] h2,
section[data-background] h3,
section[data-background] h4,
section[data-background] h5 {
	color: var(--black-100);
}

section[data-background] h6 {
	color: var(--black-60);
}

section[data-background] p {
	color: var(--black-87);
}

section[data-background] .button[data-outline='true'] {
	border: 0.2rem solid var(--black-6);
}

section[data-background] .button[data-outline='true']:hover {
	border: 0.2rem solid var(--black-24);
}

section[data-background='brown'] {
	background: #38383b;
}

section[data-background='clay'] {
	background: #c1a3a3;
}

section[data-background='tan'] {
	background: #a8a6a1;
}

section[data-background='yellow'] {
	background: #ebd8b7;
}

section[data-background='mint'] {
	background: #c9dfd6;
}

section[data-background='grey'] {
	background-image: linear-gradient(var(--background-grey), var(--background-grey), var(--dark-6));
}

section[data-background='grey'] h1,
section[data-background='grey'] h2,
section[data-background='grey'] h3,
section[data-background='grey'] h4,
section[data-background='grey'] h5 {
	color: var(--dark-100);
}

section[data-background='grey'] h6 {
	color: var(--dark-60);
}

section[data-background='grey'] p {
	color: var(--dark-87);
}

// menu

nav {
	display: none;
	position: absolute;
	transform: translate(-100%, 0);
	transition: $transition-transform;
	top: 0;
	z-index: 1;
}

nav.active {
	transform: translate(0);
}

// lists

.list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: $gap-width;
	height: 6rem;
	justify-content: space-between;
	padding: $wrap-padding;
	transition: $transition-background;
	width: 100%;
}

.list-item:hover {
	background: $dark-6;
}

.list-row {
	align-items: center;
}

.list-row .icon:hover, .list-row .icon-vsco:hover {
	color: $dark-100;
}

.divider {
	background: $dark-6;
	height: 0.1rem;
	margin: $gap-width-smaller;
	width: 100%;
}