@use 'reset';

// colours

:root {

	// static colours

	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--black-24: rgba(0, 0, 0, 0.24);
	--black-6: rgba(0, 0, 0, 0.06);

	--white-100: rgb(255, 255, 255);
	--white-87: rgba(var(--white-100), 0.87);
	--white-60: rgba(var(--white-100), 0.6);
	--white-38: rgba(var(--white-100), 0.38);
	--white-24: rgba(var(--white-100), 0.24);
	--white-6: rgba(var(--white-100), 0.06);

	// dynamic colours

	--dark-100: rgb(0, 0, 0);
	--dark-87: rgba(0, 0, 0, 0.87);
	--dark-60: rgba(0, 0, 0, 0.6);
	--dark-38: rgba(0, 0, 0, 0.38);
	--dark-24: rgba(0, 0, 0, 0.24);
	--dark-6: rgba(0, 0, 0, 0.06);

	--light-100: rgb(255, 255, 255);
	--light-87: rgba(255, 255, 255, 0.87);
	--light-60: rgba(255, 255, 255, 0.6);
	--light-38: rgba(255, 255, 255, 0.38);
	--light-24: rgba(255, 255, 255, 0.24);
	--light-6: rgba(255, 255, 255, 0.06);

	--background-grey: rgba(0, 0, 0, 0.04);

}

// dark mode

@media (prefers-color-scheme: dark) {
	:root {
		--dark-100: #fff;
		--dark-87: rgba(255, 255, 255, 0.87);
		--dark-60: rgba(255, 255, 255, 0.6);
		--dark-38: rgba(255, 255, 255, 0.38);
		--dark-24: rgba(255, 255, 255, 0.24);
		--dark-6: rgba(255, 255, 255, 0.12);

		--light-100: #000;
		--light-87: rgba(0, 0, 0, 0.87);
		--light-60: rgba(0, 0, 0, 0.6);
		--light-38: rgba(0, 0, 0, 0.38);
		--light-24: rgba(0, 0, 0, 0.24);
		--light-6: rgba(0, 0, 0, 0.12);

		--background-grey: rgba(255, 255, 255, 0.08);
	}
}

// transitions

$transition-background: background-color 0.2s ease;
$transition-border: border 0.2s ease;
$transition-color: color 0.2s ease;
$transition-fill: fill 0.2s ease;
$transition-transform: transform 0.6s ease;

// variables

$gap-responsive: 4rem;
$gap-width: 4rem;
$gap-width-small: 2.4rem;
$gap-width-smaller: 1rem;
$gap-width-smallest: 0.6rem;

$header-height: 12rem;

$section-padding: 8rem 4rem;
$section-padding-large: 16rem 8rem;
$wrap-padding: 0 4rem;
$wrap-padding-large: 0 8rem;

// responsive variables

@media only screen and (max-width: 960px) {
	$header-height: 10rem;
	$gap-responsive: 1rem;
	$section-padding: 4.8rem 2.4rem;
	$section-padding-large: 4.8rem 2.4rem;
	$wrap-padding: 0 2.4rem;
	$wrap-padding-large: 0 2.4rem;
}

// typography

html {
	background: var(--light-100);
	cursor: default;
	font-size: 62.5%;
}

body {
	color: var(--dark-87);
	font-display: swap;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.6rem;
	line-height: 3.2rem;
}

a {
	color: var(--dark-87);
	text-decoration: none;
	transition: $transition-color;

	&:hover {
		color: var(--dark-38);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--dark-100);
	font-weight: 500;
}

h1 {
	font-size: 6.4rem;
	line-height: 8rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.8rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 4.2rem;
}

h4 {
	font-size: 2.2rem;
	line-height: 3.6rem;
}

h5 {
	font-size: 1.6rem;
	line-height: 3.2rem;
}

h6 {
	color: var(--dark-60);
	font-size: 1.2rem;
	line-height: 2.4rem;
}

// icons

.icon {
	align-items: center;
	color: var(--dark-100);
	display: flex;
	font-size: 2.4rem;
	height: 4.8rem;
	justify-content: center;
	line-height: 4.8rem;
	padding: 1.2rem;
	transition: $transition-color;
	width: 4.8rem;

	&:hover {
		color: var(--dark-38);
	}
}

.icon-vsco {
	fill: var(--dark-100);
	transition: $transition-fill;

	&:hover {
		fill: var(--dark-38);
	}
}

.scrolltotop {
	cursor: pointer;
}

// grid

.grid {
	display: grid;
	gap: $gap-width;
	width: 100%;
}

.grid .column {
	width: 100%;
}

.column, .row {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: $gap-width;
}

.column {
	flex-direction: column;
}

[data-columns='2'] {
	grid-template-columns: repeat(2, 1fr);
}

[data-columns='1-2'] {
	grid-template-columns: 1fr 2fr;
}

[data-columns='1-3'] {
	grid-template-columns: 1fr 3fr;
}

[data-columns='2-1'] {
	grid-template-columns: 2fr 1fr;
}

[data-columns='3'] {
	grid-template-columns: repeat(3, 1fr);
}

[data-columns='4'] {
	grid-template-columns: repeat(4, 1fr);
}

[data-gap='no-gap'] {
	gap: 0;
}

[data-gap='small'] {
	gap: $gap-width-small;
}

[data-gap='smaller'] {
	gap: $gap-width-smaller;
}

[data-gap='responsive'] {
	gap: $gap-responsive;
}

// header, footer, nav

header, footer, nav {
	align-items: center;
	background: var(--light-100);
	display: flex;
	gap: 1.6rem;
	height: $header-height;
	justify-content: space-between;
	padding: $wrap-padding;
	width: 100%;
}

header .icon-back {
	margin-left: -1.2rem;
}

/* cards */

.card {
	background: var(--light-100);
	background-clip: padding-box;
	border-radius: 2rem;
	box-shadow: 0 0 0 0.1rem var(--dark-6) inset;
	display: flex;
	flex-direction: column;
}

.card img {
	border-radius: 2rem 2rem 0 0;
	height: auto;
	transition: transform 0.2s ease;
	width: 100%;

	&:hover {
		transform: scale(1.02);
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: $gap-width-smaller;
	padding: 2rem;
}

.card-link .icon {
	color: var(--dark-38);
	font-size: 1.8rem;
	height: 3.4rem;
	width: 3.4rem;

	&:hover {
		color: var(--dark-87)
	}
}

@media (prefers-color-scheme: dark) {
	.card {
		background-color: var(--background-grey);
		box-shadow: none;
	}
}


/* tags */

.tag {
	border: 0.1rem solid var(--dark-6);
	border-radius: 1rem;
	padding: 0.4rem 1.2rem;
}

/* sections */

section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: $section-padding;
	width: 100%;
}

section[data-size='large'] {
	padding: $section-padding-large;
}

/* section layout */

[data-layout] {
	display: flex;
	width: 100%;
}

[data-layout='center'], section[data-layout='center'] .column {
	align-items: center;
	justify-content: center;
	text-align: center;
}

[data-layout='right'], section[data-layout='right'] .column {
	align-items: flex-end;
	text-align: right;
}

[data-layout='justified'] {
	align-items: flex-start;
	justify-content: space-between;
}

/* section offset */

[data-offset] {
	width: 67vw;
}

[data-offset='right'] {
	margin-left: auto;
}

/* background */

.background {
	height: 67vh;
	position: relative;
}

/* buttons */

.button {
	align-items: center;
	background: var(--dark-100);
	color: var(--light-100);
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.4rem;
	font-weight: 500;
	gap: 1.6rem;
	height: 4rem;
	justify-content: center;
	padding: 0 2rem;
	transition: $transition-background;
}

.button[data-shape='round'] {
	border-radius: 3rem;
}

.button[data-shape='rounded'] {
	border-radius: 0.4rem;
}

.button[data-size='large'] {
	font-size: 1.6rem;
	gap: 2rem;
	height: 6rem;
	padding: 0 3rem;
}

/* button icons */

.button .icon {
	color: var(--light-100);
}

.button[data-size='small'] .icon {
	font-size: 1.6rem;
	height: 4rem;
	margin: 0 -1.6rem;
	width: 4rem;
}

.button[data-size='large'] .icon {
	margin: 0 -1.6rem;
}

/* static buttons */

.button[data-background='white'] {
	background: var(--white-100);
	color: var(--black-100);

	&:hover {
		background: var(--white-60);
	}
}

.button[data-background='black'] {
	background: var(--black-100);
	color: var(--white-100);

	&:hover {
		background: var(--black-60);
	}

	.icon {
		color: var(--white-100);
	}
}

.button[data-background='clear'] {
	background: none;
}

/* dynamic buttons */

.button[data-background='light'] {
	background: var(--light-100);
	color: var(--dark-100);

	&:hover {
		background: var(--light-60);
	}

	.icon {
		color: var(--dark-100);
	}
}

.button[data-background='dark'] {
	background: var(--dark-100);
	color: var(--light-100);

	&:hover {
		background: var(--dark-87);
	}

	.icon {
		color: var(--light-100);
	}
}

/* outlined buttons */

.button[data-outline='true'] {
	border: 0.2rem solid var(--dark-6);
	transition: $transition-border;

	&:hover {
		border: 0.2rem solid var(--dark-24);
	}
}

/* introduction */

.introduction {
	display: grid;
	gap: 4rem;
	grid-template-columns: 1fr 1fr;
}

.profile {
	align-self: flex-end;
	height: 28rem;
	position: relative;
	width: 28rem;
}

.profile img {
	border-radius: 50%;
	height: auto;
	width: auto;
}

/* gallery */

.gallery {
	flex-direction: row;
	gap: $gap-width;
}

.gallery-photo {
	flex: 1;
	line-height: 0;
	position: relative;

	img {
		height: auto;
		object-fit: cover;
		width: 100%;
	}
}

// responsive

@media only screen and (max-width: 960px) {
	.background {
		height: 60rem;
	}

	.introduction {
		align-items: flex-start;
		display: flex;
		flex-direction: column-reverse;
	}

	.gallery, .gallery .column {
		gap: $gap-width-small;
	}

	.grid {
		grid-template-columns: 1fr;
	}
	
	.profile {
		height: 18rem;
		width: 18rem;
	}

	[data-offset] {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	html {
		font-size: 57.5%;
	}
}
