/* todo

1. fix button link styling in dark mode
2. merge button theming into section theming
3. fix responsive data-gap conflict

*/

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	overflow-x: hidden;
	position: relative;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

img {
    max-width: 100%;
	object-fit: cover;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* typography */

html {
	background: var(--background-color);
	cursor: default;
	font-size: 62.5%;
}

body {
	color: var(--dark-87);
	font-display: swap;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.6rem;
	line-height: 2.8rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--dark-87);
	text-decoration: none;
}

a, .icon {
	transition: var(--transition-color);
}

a:hover, .icon:hover {
	color: var(--dark-38);
}

h1, h2, h3, h4, h5 {
	color: var(--dark-100);
	font-weight: 500;
}

h1 {
	font-size: 6rem;
	line-height: 8rem;
}

h2 {
	font-size: 3.4rem;
	line-height: 4.8rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 4.2rem;
}

h4 {
	font-size: 2.2rem;
	line-height: 3.6rem;
}

h5 {
	font-size: 1.6rem;
	line-height: 2.8rem;
}

h6 {
	color: var(--dark-60);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.6rem;
}

/* icons */

.icon {
	align-items: center;
	color: var(--dark-100);
	display: flex;
	font-size: 2.4rem;
	height: 4.8rem;
	justify-content: center;
	line-height: 4.8rem;
	padding: 1.2rem;
	width: 4.8rem;
}

.icon-menu {
	display: none;
	z-index: 2;
}

.icon-vsco {
	fill: var(--dark-100);
	transition: var(--transition-fill);
}

.icon-vsco:hover {
	fill: var(--dark-38);
}

.scrolltotop {
	cursor: pointer;
}

/* grid */

.grid {
	display: grid;
	gap: var(--gap-width);
	width: 100%;
}

.column, .row {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-width);
}

.column {
	flex-direction: column;
}

[data-align='center'] {
	align-items: center;
}

[data-columns='2'] {
	grid-template-columns: repeat(2, 1fr);
}

[data-columns='1-2'] {
	grid-template-columns: 1fr 2fr;
}

[data-columns='2-1'] {
	grid-template-columns: 2fr 1fr;
}

[data-columns='3'] {
	grid-template-columns: repeat(3, 1fr);
}

[data-columns='4'] {
	grid-template-columns: repeat(4, 1fr);
}

[data-gap='no-gap'] {
	gap: 0;
}

[data-gap='small'] {
	gap: var(--gap-width-small);
}

[data-gap='smaller'] {
	gap: var(--gap-width-smaller);
}

/* header, footer */

header, footer {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	height: var(--header-height);
	justify-content: space-between;
}

footer h5, footer .icon {
	color: var(--dark-38);
}

footer .icon:hover {
	color: var(--dark-87);
}

/* menu */

nav {
	align-items: center;
	background: var(--background-color);
	display: none;
	flex-direction: row;
	height: var(--header-height);
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(100%, 0);
	transition: var(--transition-transform);
	width: 100%;
	z-index: 1;
}

nav.active {
	transform: translate(0);
}

/* sections */

section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: var(--section-padding);
	width: 100%;
}

section[data-size='large'] {
	padding: var(--section-padding-large);
}

/* section layout */

[data-layout] {
	display: flex;
	width: 100%;
}

[data-layout='center'], section[data-layout='center'] .column {
	align-items: center;
	text-align: center;
}

[data-layout='right'], section[data-layout='right'] .column {
	align-items: flex-end;
	text-align: right;
}

[data-layout='justified'] {
	align-items: flex-start;
	justify-content: space-between;
}

/* section offset */

[data-offset] {
	width: 60vw;
}

[data-offset='right'] {
	margin-left: auto;
}

/* wrap */

.wrap {
	padding: var(--wrap-padding);
	width: 100%;
}

.wrap-large {
	padding: var(--wrap-padding-large);
}

/* background */

.background {
	height: 100vh;
	position: relative;
}

/* buttons */

.button {
	align-items: center;
	background: var(--dark-100);
	color: var(--light-100);
	cursor: pointer;
	display: inline-flex;
	font-size: 1.4rem;
	font-weight: 500;
	gap: 1.6rem;
	height: 4rem;
	justify-content: center;
	line-height: 4rem;
	padding: 0 2rem;
	transition: var(--transition-background);
}

.button[data-shape='round'] {
	border-radius: 3rem;
}

.button[data-shape='rounded'] {
	border-radius: 0.4rem;
}

.button[data-size='large'] {
	font-size: 1.6rem;
	gap: 2rem;
	height: 6rem;
	line-height: 6rem;
	padding: 0 3rem;
}

/* button icons */

.button .icon {
	color: var(--light-100);
}

.button[data-size='small'] .icon {
	font-size: 1.6rem;
	height: 4rem;
	margin: 0 -1.6rem;
	width: 4rem;
}

.button[data-size='large'] .icon {
	margin: 0 -1.6rem;
}

/* static buttons */

.button[data-background='white'] {
	background: var(--white-100);
	color: var(--black-100);
}

.button[data-background='white']:hover {
	background: var(--white-60);
}

.button[data-background='black'] {
	background: var(--black-100);
	color: var(--white-100);
}

.button[data-background='black']:hover {
	background: var(--black-60);
}

.button[data-background='black'] .icon {
	color: var(--white-100);
}

/* dynamic buttons */

.button[data-background='light'] {
	background: var(--light-100);
	color: var(--dark-100);
}

.button[data-background='light']:hover {
	background: var(--light-60);
}

.button[data-background='light'] .icon {
	color: var(--dark-100);
}

.button[data-background='dark'] {
	background: var(--dark-100);
	color: var(--light-100);
}

.button[data-background='dark']:hover {
	background: var(--dark-60);
}

.button[data-background='dark'] .icon {
	color: var(--light-100);
}

/* outlined buttons */

.button[data-outline='true'] {
	border: 0.2rem solid var(--dark-6);
	transition: var(--transition-border);
}

.button[data-outline='true']:hover {
	border: 0.2rem solid var(--dark-24);
	transition: var(--transition-border);
}

/* button and section backgrounds */

section[data-background] a {
	color: var(--black-87);
}

section[data-background] a:hover {
	color: var(--black-38);
}

section[data-background] h1,
section[data-background] h2,
section[data-background] h3,
section[data-background] h4,
section[data-background] h5, {
	color: var(--black-100);
}

section[data-background] h6 {
	color: var(--black-60);
}

section[data-background] p {
	color: var(--black-87);
}

section[data-background='brown'] {
	background: #38383b;
}

section[data-background='clay'] {
	background: #c1a3a3;
}

section[data-background='tan'] {
	background: #a8a6a1;
}

section[data-background='yellow'] {
	background: #ebd8b7;
}

section[data-background='mint'] {
	background: #c9dfd6;
}

section[data-background='grey'] {
	background: var(--background-grey);
}

section[data-background='grey'] h1,
section[data-background='grey'] h2,
section[data-background='grey'] h3,
section[data-background='grey'] h4,
section[data-background='grey'] h5 {
	color: var(--dark-100);
}

section[data-background] h6 {
	color: var(--dark-60);
}

section[data-background='grey'] p {
	color: var(--dark-87);
}

/* introduction */

.introduction {
	align-items: center;
	display: grid;
	gap: 4rem;
	grid-template-columns: 2fr 1fr;
}

.profile {
	height: 24rem;
	position: relative;
	width: 24rem;
}

.profile img {
	border-radius: 12rem;
}

/* gallery */

.gallery {
	flex-direction: row;
	gap: var(--gap-width);
}

/* root variables */

:root {
	--background-color: #fff;

	/* static */
	--black-100: #000;
	--black-87: rgba(0, 0, 0, 0.87);
	--black-60: rgba(0, 0, 0, 0.6);
	--black-38: rgba(0, 0, 0, 0.38);
	--black-24: rgba(0, 0, 0, 0.24);
	--black-6: rgba(0, 0, 0, 0.06);

	--white-100: #fff;
	--white-87: rgba(255, 255, 255, 0.87);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-38: rgba(255, 255, 255, 0.38);
	--white-24: rgba(255, 255, 255, 0.24);
	--white-6: rgba(255, 255, 255, 0.06);

	/* dynamic */
	--dark-100: #000;
	--dark-87: rgba(0, 0, 0, 0.87);
	--dark-60: rgba(0, 0, 0, 0.6);
	--dark-38: rgba(0, 0, 0, 0.38);
	--dark-24: rgba(0, 0, 0, 0.24);
	--dark-6: rgba(0, 0, 0, 0.06);

	--light-100: #fff;
	--light-87: rgba(255, 255, 255, 0.87);
	--light-60: rgba(255, 255, 255, 0.6);
	--light-38: rgba(255, 255, 255, 0.38);
	--light-24: rgba(255, 255, 255, 0.24);
	--light-6: rgba(255, 255, 255, 0.06);

	/* backgrounds */
	--background-grey: rgba(0, 0, 0, 0.04);

	/* transitions */
	--transition-background: background 0.2s ease;
	--transition-border: border 0.2s ease;
	--transition-color: color 0.2s ease;
	--transition-fill: fill 0.2s ease;
	--transition-transform: transform 0.5s ease;

	/* padding */
	--gap-width: 4rem;
	--gap-width-small: 2.4rem;
	--gap-width-smaller: 1rem;
	--gap-width-smallest: 0.5rem;
	--header-height: 12rem;
	--section-padding: 8rem 4rem;
	--section-padding-large: 12rem 8rem;
	--wrap-padding: 0 4rem;
	--wrap-padding-large: 0 8rem;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;

		--dark-100: #fff;
		--dark-87: rgba(255, 255, 255, 0.87);
		--dark-60: rgba(255, 255, 255, 0.6);
		--dark-38: rgba(255, 255, 255, 0.38);
		--dark-24: rgba(255, 255, 255, 0.24);
		--dark-6: rgba(255, 255, 255, 0.12);

		--light-100: #000;
		--light-87: rgba(0, 0, 0, 0.87);
		--light-60: rgba(0, 0, 0, 0.6);
		--light-38: rgba(0, 0, 0, 0.38);
		--light-24: rgba(0, 0, 0, 0.24);
		--light-6: rgba(0, 0, 0, 0.12);

		--background-grey: rgba(255, 255, 255, 0.08);
	}
}

/* responsive */

@media only screen and (min-width: 769px) {
	.profile {
		align-self: flex-end;
	}
}

@media only screen and (max-width: 768px) {
	:root {
		--header-height: 10rem;
		--section-padding: 4.8rem 2.4rem;
		--section-padding-large: 4.8rem 2.4rem;
		--wrap-padding: 0 2.4rem;
		--wrap-padding-large: 0 2.4rem;
	}

	header .social {
		display: none;
	}

	header .icon-menu, nav {
		display: flex;
	}

	.background {
		height: 32rem;
	}

	.gallery {
		gap: var(--gap-width-small);
	}

	.grid {
		grid-template-columns: 1fr;
	}
	
	.profile {
		height: 16rem;
		width: 16rem;
	}

	[data-offset] {
		width: 100%;
	}
}

@media only screen and (max-width: 560px) {
	.introduction {
		align-items: flex-start;
		display: flex;
		flex-direction: column-reverse;
	}
}